.galleryHome {
	background: transparent;

	backdrop-filter: brightness(var(--brightness));
	padding: 6%;
	padding-block: 10%;
	.linkAll {
		border-radius: 1rem;
		// padding: 2.5%;
		background-color: rgb(var(--background), 0.8);
		position: relative;
		overflow: hidden;
		text-align: center;
		transition: all 300ms linear;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 10vh;

		img {
			transition: all 300ms linear;
			max-height: 300px;
			padding: 32px;
			object-fit: contain;
		}

		h2 {
			color: rgb(var(--background));

			text-align: center;
			left: 40%;
			font-size: 3rem;
			width: 100%;
			background-color: rgb(var(--text-color), 0.8);

			padding-block: 0.6rem;
			font-family: Dream;
			font-weight: normal;
		}
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
		place-items: center;
		gap: 10vh;

		.linkFilter {
			border-radius: 1rem;
			aspect-ratio: 5 / 3;
			width: 100%;
			padding: 10%;
			background-color: rgb(var(--background), 0.8);
			position: relative;
			overflow: hidden;
			text-align: center;
			transition: all 300ms linear;
			display: flex;
			align-items: center;
		}

		img {
			transition: all 300ms linear;
			border-radius: 50%;
			display: block;
			width: 60%;
			aspect-ratio: 1 / 1;
			object-fit: contain;
		}

		h2 {
			color: rgb(var(--background));
			transform: rotate(-90deg) translateY(-10%);
			position: absolute;
			text-align: center;
			left: 40%;
			font-size: 3rem;
			width: 100%;
			background-color: rgb(var(--text-color), 0.8);
			z-index: 1;
			padding-block: 0.6rem;
			font-family: Dream;
			font-weight: normal;
		}
	}
}

.linkAll:hover {
	padding: 1;
	border: 2px solid rgb(var(--headline));
	border-left: 4px solid rgb(var(--headline));
	img {
		padding: 16px;
		width: 70%;
	}
}

.linkFilter:hover {
	padding: 1;
	border: 2px solid rgb(var(--headline));
	border-left: 4px solid rgb(var(--headline));
	img {
		width: 70%;
		object-fit: contain;
	}
}

body {
	background-color: rgb(var(--background));
}

body > div > section {
	background: fixed var(--bg) center / cover no-repeat;
}
