.newDrinkPage {
	background-color: rgb(var(--background));
	padding: 5% 10%;
	h3 {
		color: rgb(var(--text-color));
		margin-bottom: 1rem;
		text-align: center;
		font-family: "Poppins";
		font-size: 2rem;
	}
}
