.galleryWrapper {
	background: fixed var(--bg) center / cover no-repeat;
	.galleryContainer {
		padding-block: 2.5%;
		.gallery {
			background: transparent;
			display: grid;
			padding: 6%;
			grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
			place-items: center;
			gap: 4vh;
		}
		.primary-button {
			cursor: pointer;
		}
	}
}
@media screen and (max-width: 850px) {
	.galleryWrapper {
		.galleryContainer {
			padding-block: 2.5%;
			.gallery {
				background: transparent;
				display: grid;
				padding: 10%;
				grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
				place-items: center;
				gap: 4vh;
			}
			.primary-button {
				cursor: pointer;
			}
		}
	}
}
