.header {
  padding-top: 1rem;
  padding-bottom: 8rem;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
    padding-inline: 1.5rem;
    h2 {
      font-family: "Playfair Display";
      letter-spacing: 4px;
    }
    div {
      display: flex;
      align-items: flex-start;
      .menu {
        display: flex;
        flex-direction: column;
        button {
          background-color: inherit;
          padding: 0.25rem 0 0.25rem 1rem;
          border: none;
          font-family: "Montserrat";
          cursor: pointer;
        }
        ul {
          visibility: hidden;
          a {
            text-decoration: none;
          }
          li {
            margin-top: 0.25rem;
            list-style: none;
            font-family: "Montserrat";
            padding-left: 1rem;
          }
        }
        .activ {
          visibility: visible;
        }
      }
      img {
        margin-left: 3rem;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
  article {
    margin-top: 8rem;
    padding-inline: 3rem;
    h1 {
      font-family: "Playfair Display";
      font-size: 3.25rem;
    }
    p {
      font-family: "Montserrat";
    }
  }
}
