.header {
	padding: 5% 3.5%;
	background-color: rgba(var(--background), 0.9);
	color: rgba(var(--text-color));

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
		font-weight: 700;
		position: fixed;
		padding: 2%;
		height: 10vh;
		top: 0;
		right: 0;
		left: 0;
		z-index: 99;
		background: transparent;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		border-bottom: 1px solid rgb(var(--headline));

		img {
			width: 100px;
			height: auto;
		}
		div {
			display: flex;
			gap: 2rem;
			align-items: baseline;

			img {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}
		}
	}
	article {
		margin-top: 8rem;
		padding-inline: 3rem;
		h1 {
			font-size: 5vw;
			color: rgb(var(--headline));
			font-family: Dream;
			font-weight: normal;
		}
		p {
			color: rgb(var(--text-color));
			font-family: Poppins;
			font-size: 1.1vw;
			padding-left: 0.5%;
		}
	}
}

@media screen and (max-width: 850px) {
	.header {
		nav {
			padding: 16px;
		}
		article {
			text-align: left;
			h1 {
				font-size: 9vh;
				margin-bottom: 2vh;
			}
			p {
				text-align: left !important;
				font-size: 2vh;
				max-width: 80%;
			}
		}
	}
}
