.sliderWrapper {
	width: 5%;
	position: fixed;
	right: 0;
	top: -1.4vh;
	bottom: 0;
	z-index: 2;

	.slide {
		position: absolute;
		right: 0;
		top: 11.2%;
		width: 5%;
		display: flex;
		justify-content: end;
		flex: 1;
		bottom: 0;
		z-index: 0;

		article {
			border-left: 0.5px solid rgb(var(--headline));
			// background-color: rgba(0, 0, 0, 0.647);
			background-color: rgba(var(--background), 0.2);
			width: 22vw;
			height: 100%;
			aspect-ratio: 1/1;
			position: relative;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
			top: 0;
			bottom: 0;
			right: -22vw;
			transition: all 400ms ease-in-out;
			text-align: right;
			padding-block: 3vw;
			padding-left: 6vw;
			padding-right: 2vw;
			font-family: Poppins;
			display: flex;
			flex-direction: column;
			gap: 4%;
			justify-content: start;
			z-index: 5;

			a {
				color: rgb(var(--headline));
				border-bottom: 1px solid rgb(var(--headline));
				display: block;
				text-align: left;
				padding-left: 8%;
				transition: all 400ms linear;
				&:hover {
					color: rgb(var(--text-color));
					border-bottom: 1px solid rgb(var(--text-color));
					transform: scale(1.05);
				}
			}
			h4 {
				font-family: Poppins;
				text-align: center;

				color: rgb(var(--headline));
				span {
					display: inline-block;
					padding-top: 3px;
				}
			}
		}
		.active {
			right: -00%;
			z-index: 9999;
		}
		.activeMenu {
			right: 23.7%;
			border-radius: 50%;
			aspect-ratio: 1/1;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(0);
			z-index: 100;
		}
		p {
			position: absolute;
			text-align: center;
			z-index: 1000;
			transform: rotate(-90deg);
			font-family: Poppins;
			background-color: rgb(var(--text-color));
			color: rgba(var(--background));
			padding: 0.9rem 1rem;
			cursor: pointer;
			border-radius: 50%;
			aspect-ratio: 1 / 1;
			font-weight: 900;
			transition: all 400ms ease-in-out;
			width: 12.5vh;
			left: -6.25vh;
			top: 23%;

			text-align: center;
		}
	}
}

@media only screen and (max-width: 760px) {
	.sliderWrapper {
		.slide {
			width: 52vw;
			article {
				width: 40vw;

				right: -40.5vw;
				padding-block: 5vw;
				padding-left: 8vw;
				padding-right: 2vw;
				background-color: rgba(var(--background), 0.2) a {
					font-size: 80%;
				}
				h4 {
					font-size: 80%;
				}
			}
			.active {
				right: 0%;
			}
			.activeMenu {
				right: 23.7%;
				border-radius: 50%;
				aspect-ratio: 1/1;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(0);
			}
			p {
				position: absolute;
				text-align: center;
				z-index: 4;
				transform: rotate(-90deg);
				font-family: Poppins;
				background-color: rgb(var(--text-color));
				color: rgba(var(--background));
				padding: 0.9rem 1rem;
				cursor: pointer;
				border-radius: 50%;
				aspect-ratio: 1 / 1;
				font-weight: 900;
				transition: all 400ms ease-in-out;
				width: 11vh;
				left: -6.25vh;

				text-align: center;
			}
		}
	}
}
