.sliderWrapper {
	width: fit-content;
	position: fixed;
	right: 0;
	z-index: 6;
	top: 10vh;
	.slide {
		position: absolute;
		right: 0;
		top: 11.2%;
		overflow: hidden;
		width: 50vw;
		display: flex;
		justify-content: end;

		article {
			background-color: rgba(0, 0, 0, 0.76);
			width: 28vw;
			height: 55.5vh;
			aspect-ratio: 1/1;
			position: relative;
			top: 0;
			right: -28vw;
			transition: all 400ms ease-in-out;
			text-align: right;
			padding-block: 2vw;
			padding-left: 8vw;
			padding-right: 2vw;
			font-family: Poppins;
			display: flex;
			flex-direction: column;
			gap: 4%;
			justify-content: center;

			a {
				color: rgb(var(--headline));
				border-bottom: 1px solid rgb(var(--headline));
				display: block;
				text-align: left;
				padding-left: 5%;
				transition: all 400ms linear;
				&:hover {
					color: rgb(255, 235, 205);
					border-bottom: 1px solid rgb(255, 235, 205);
					transform: scale(1.05);
				}
			}
			h4 {
				font-family: Poppins;
				text-align: center;

				color: rgb(var(--headline));
				span {
					display: inline-block;
					padding-top: 3px;
				}
			}
		}
		.activ {
			right: -00%;
		}
		.activeMenu {
			right: 23.7%;
			border-radius: 50%;
			aspect-ratio: 1/1;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(0);
		}
		p {
			position: absolute;
			text-align: center;
			z-index: 4;
			transform: rotate(-90deg);
			font-family: Poppins;
			background-color: rgb(var(--text-color));
			color: rgba(var(--background));
			padding: 0.9rem 1rem;
			cursor: pointer;
			border-radius: 50%;
			aspect-ratio: 1 / 1;
			font-weight: 900;
			transition: all 400ms ease-in-out;
			width: 12.5vh;
			left: -6.25vh;

			text-align: center;
		}
	}
}

@media only screen and (max-width: 760px) {
	.sliderWrapper {
		.slide {
			width: 60vw;
			article {
				width: 40vw;
				height: 55.5vh;
				right: -40.5vw;
				padding-block: 2vw;
				padding-left: 8vw;
				padding-right: 2vw;
				background-color: rgba(0, 0, 0, 0.956);
				a {
					font-size: 80%;
				}
				h4 {
					font-size: 80%;
				}
			}
			.activ {
				right: 0%;
			}
			.activeMenu {
				right: 23.7%;
				border-radius: 50%;
				aspect-ratio: 1/1;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(0);
			}
			p {
				position: absolute;
				text-align: center;
				z-index: 4;
				transform: rotate(-90deg);
				font-family: Poppins;
				background-color: rgb(var(--text-color));
				color: rgba(var(--background));
				padding: 0.9rem 1rem;
				cursor: pointer;
				border-radius: 50%;
				aspect-ratio: 1 / 1;
				font-weight: 900;
				transition: all 400ms ease-in-out;
				width: 11vh;
				left: -6.25vh;

				text-align: center;
			}
		}
	}
}
