@font-face {
  font-family: "Dream";
  src: url(./../fonts/Dream-Avenue.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./../fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --darkBlue: #262b46;
  --lightGray: #f0f0f0;
}
.darkMode {
  .header,
  .footer {
    background-color: var(--darkBlue);
    color: var(--lightGray);
  }
}

.lightMode {
  .header,
  .footer {
    background-color: var(--lightGray);
    color: var(--darkBlue);
  }
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}
